// fonts
$font-size: 14px;
$line-height: floor($font-size * 1.3 );
$font-family: Roboto, sans-serif;

// colors

$main-color: #28476B;
$page-background: #F3F5F8;

$light-gray-color: #C0D0E1;
$gray-color: rgba(40, 71, 107, 0.4);
$violet-color: #5B50D3;
$orange-color: #F49A47;
$green-color: #49B192;
$yellow-color: #FFCA38;
$blue-color: #73BED7;
$white-color: #ffffff;